PORT=8080
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/glowher?retryWrites=true&w=majority
AT_SECRET=your-long-random-access-token-secret
RT_SECRET=your-long-random-refresh-token-secret
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
GEMINI_API_KEY=your-gemini-api-key
